<body>
    <h1>Edit <%= item.name %></h1>

    <form method="POST" action="/items/update/<%= item.id %>">
        <input name="name" type="text" value="<%= item.name %>"/>
        <input name="price" type="text" value="<%= item.price %>"/>
        <select name="categories[]" id="category" data-categories="<%= item.categories.map{|x|x.id} %>" multiple>
        <% categories.each do |category|%>
            <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
        </select>
        <button type="submit">Update Item</button>
    </form>
<body>

<script>
    const category = document.getElementById("category");
    const optionsToSelect = category.dataset.categories;

    for ( var i = 0, l = category.options.length, o; i < l; i++ ){
        if (optionsToSelect.includes(category.options[i].value)) {
            category.options[i].selected = true
        }
    }
</script>